*, *:after, *:before {
box-sizing: border-box;
padding: 0;
margin: 0;
transition: .2s ease-in-out;
-webkit-tap-highlight-color: transparent;
scroll-behavior: smooth;
}
ul {
list-style: none;
}
a {
text-decoration: none;
outline: none;
}
img {
display: block;
width: 100%;
}
h1, h2, h3, h4, h5, h6 {
font-weight: normal;
letter-spacing: 1px;
}
body {
font-size: 14px;
line-height: 1;
}

header:after, .container:after, footer:after, .widget-posts-list li:after, #subscribe:after {
content: "";
display: table;
clear: both;
}
button,input{
    background: none;
    border: none;
}


@font-face {
    font-family: "BebasNeue";
    src: url("lib/font/BebasNeue.ttf");
}

/* Font */

.header1{
    font-family: "BebasNeue" !important;
    font-size: 48px;
    font-weight: 700;
    line-height: 52.8px;
    
}
.header2{
    font-family: "BebasNeue" !important;
    font-size: 32px;
    font-weight: 700;
    line-height: 35.2px;
}
.header3{
    font-family: "BebasNeue" !important;
    font-size: 24px;
    font-weight: 400;
    line-height: 26.4px;
}
.main_sm_18{
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 500;
    line-height: 24.3px;
}
.main_sm_14{
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 500;
    line-height: 16.1px;
    color: var(--Neutral_900);
}
.main_sm_11{
    font-family: 'Inter';
    font-size: 11px;
    font-weight: 500;
    line-height: 15.4px;
}


/* root */

:root{
    --Neutral_100: #ffffff;
    --Neutral_150: #FAFAFA;
    --Neutral_200: #F1F1F1;
    --Neutral_300: #E0E0E0;
    --Neutral_400: #B2B2B2;
    --Neutral_500: #828282;
    --Neutral_600: #686868;
    --Neutral_700: #505050;
    --Neutral_800: #333333;
    --Neutral_900: #161616;
    --Error: #EE0003;
}
.body{
    background-color: var(--Neutral_100) !important;
}

.main_black_btn{
    background-color: var(--Neutral_900);
    color: var( --Neutral_100);
    border: 1px solid var(--Neutral_900);
    padding: 16px;
    max-width: fit-content;
    cursor: pointer;
    font-family: 'Inter';
}
.main_black_btn:hover{
    background-color: var(--Neutral_800);
}
.main_black_btn:active{
    background-color: var(--Neutral_700);
}

.main_white_btn{
    background-color: var(--Neutral_100);
    color: var( --Neutral_900);
    padding: 16px;
    max-width: fit-content;
    cursor: pointer;
    border: 1px solid var(--Neutral_100);
    font-family: 'Inter';
}
.main_white_btn:hover{
    background-color: var(--Neutral_200);
}
.main_white_btn:active{
    background-color: var(--Neutral_300);
}


@media (max-width:900px) {
    .header1{
        font-size: 42px !important;
        line-height: 46px !important;
    }
    .header2{
        font-size: 24px;
        line-height: 26px;
        font-weight: 400;
    }
}

dialog[open] body{
    overflow: hidden;
}